# **Zomato Restaurants Analysis**
This project aims to understand customer preferences and restaurant trends to support key business decisions in the food industry. I analyze Zomatoâ€™s restaurant dataset using `Python` for data cleaning and exploratory data analysis (EDA), `SQL` for answering business queries, and `Power BI` for building an interactive dashboard that highlights meaningful insights.

## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

## 2. Load Dataset

In [14]:
df = pd.read_csv('../Data/Zomato-Restaurants-Dataset.csv')
df.head()

,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,Unnamed: 9,area,local address
0,0,#FeelTheROLL,Quick Bites,3.4,7,200,No,No,Fast Food,0,Bellandur,Bellandur
1,1,#L-81 Cafe,Quick Bites,3.9,48,400,Yes,No,"Fast Food, Beverages",1,"Byresandra,Tavarekere,Madiwala",HSR
2,2,#refuel,Cafe,3.7,37,400,Yes,No,"Cafe, Beverages",2,Bannerghatta Road,Bannerghatta Road
3,3,'@ Biryani Central,Casual Dining,2.7,135,550,Yes,No,"Biryani, Mughlai, Chinese",3,Marathahalli,Marathahalli
4,4,'@ The Bbq,Casual Dining,2.8,40,700,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",4,Bellandur,Bellandur

## 3. Data Cleaning

In [18]:
df.shape

(7105, 12)

In [20]:
df.columns

Index(['Unnamed: 0', 'restaurant name', 'restaurant type', 'rate (out of 5)',
       'num of ratings', 'avg cost (two people)', 'online_order',
       'table booking', 'cuisines type', 'Unnamed: 9', 'area',
       'local address'],
      dtype='object')

In [21]:
df = df.drop(['Unnamed: 0','Unnamed: 9'],axis=1)

In [25]:
df.columns = df.columns.str.replace(' ','_').str.lower()

In [29]:
df = df.rename(columns={
    'rate_(out_of_5)':'rating',
    'avg_cost_(two_people)':'two_cost'
    })

In [37]:
df['restaurant_name'] = df['restaurant_name'].str.replace(r'[^A-Za-z\s]','',regex=True).str.strip()

In [38]:
df.head()

,restaurant_name,restaurant_type,rating,num_of_ratings,two_cost,online_order,table_booking,cuisines_type,area,local_address
0,FeelTheROLL,Quick Bites,3.4,7,200,No,No,Fast Food,Bellandur,Bellandur
1,L Cafe,Quick Bites,3.9,48,400,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,refuel,Cafe,3.7,37,400,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,Biryani Central,Casual Dining,2.7,135,550,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,The Bbq,Casual Dining,2.8,40,700,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur